[submodule "submodules/ModernHttpClient"]
	path = submodules/ModernHttpClient
	url = https://github.com/paulcbetts/ModernHttpClient.git
[submodule "submodules/MvvmCross-Binaries"]
	path = submodules/MvvmCross-Binaries
	url = https://github.com/MvvmCross/MvvmCross-Binaries.git
